

body, .panel-default {
	background-color: #a9d5f9;
	border: 0;
}

img {
	height: 120px;
}

.jumbotron, .panel-heading{
	background-color: #3c3cfc;
	color: #ffffff;
	font-family: 'Playball', cursive;

}

.panel-body, .panel-heading{	
	text-align: center;

}
